<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Temp Page </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <style th:inline="css">
        .h1 {
          color: red;
        }
    </style>
</head>
<body>
    <div class="sp-30"></div>
    <div style="width: 600px; margin: 0px auto; border: 1px black solid; border-radius: 6px; padding: 20px;">
        <div class="sp-30"></div>
        <h2> Temporary page for some tests only  </h2>
        <h3> (This step and content should be removed !)</h3>
        <p>
            <span class="msg-stat"> User with account: </span>
            <span th:text="${session.userAccount}" class="msg-din"></span>
        </p>
        <p>
            <span class="msg-stat"> Role as: </span>
            <span th:text="${#request.getAttribute('roleName')}" class="msg-din"></span>
        </p>
        <p>
            <span class="msg-stat"> Login Flag: </span>
            <span th:text="${session.loginFlag}" class="msg-din"></span>
        </p>
    
        <div th:switch="${session.loginFlag}">
            <span th:case="${'Y'}">
                <p> This is just Intermediate Login Step (for Tests and Demo) </p>
            </span>
            <span th:case="${'N'}">
                <p> Something went wrong! </p>
            </span>
        </div>
        <p> 
        <button type="button" id="loginAheadBtn" style="font-size:22px;padding: 8px 28px;"> 
            Go ahead with login 
        </button> 
        </p>
    </div>    

    <script type="module" th:inline="javascript" th:src="@{/js/app.js}"></script>
    <script type="module" th:inline="javascript">
        /*[-
         *
         * Do NOT do this at your home :)
         *
         * -]*/
        /*[+
            let userId = [[${session.userId}]];
            let roleId = [[${session.roleId}]];
            let accessToken = [[${session.accessToken}]];
            console.log(userId);
            console.log(roleId);
            console.log(accessToken);
        +]*/
    
    </script>
    

</body>
</html>