<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Calc Form </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:insert="/includes/top_nav.html :: navbar_top" class="top-nav-holder"> </div>
    <h1> You have not authorization to see this page! </h1>
    <script type="module" th:inline="javascript" th:src="@{/js/app.js}"></script>
    <script type="module" th:inline="javascript">
        function onInit() {
            api.onInit();
        }
        onInit();
    </script>
</body>
</html>